In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install Faker

Requirement already satisfied: Faker in c:\users\shubh\anaconda3\lib\site-packages (25.1.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\shubh\anaconda3\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\shubh\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from faker import Faker
import pandas as pd
from tabulate import tabulate


# Create Faker instance
fake = Faker(locale='EN_IN')

# Generate fake data
Customers = {
    'customersID':[str(fake.random_number(digits=3)).zfill(3) for _ in range(501)],
    'Name': [fake.name() for _ in range(501)],
    'Address': [fake.address().replace('\n', ', ') for _ in range(501)],
    'Email': [fake.email() for _ in range(501)],
    'Phone Number': [fake.phone_number() for _ in range(501)],
    'Job': [fake.job() for _ in range(501)],
    'Company': [fake.company() for _ in range(501)]
}

# Convert to DataFrame
df = pd.DataFrame(Customers)

# Output the DataFrame
print(df)

    customersID                  Name  \
0           450          Armaan Karpe
1           404          Aayush Koshy
2           883          Lavanya Mane
3           746             Heer Dube
4           255           Ojas Dâ€™Alia
..          ...                   ...
496         029  Aniruddh Rajagopalan
497         129         Khushi Sekhon
498         268       Anahita Chander
499         893          Aayush Dubey
500         833          Lakshit Bath

                                         Address                      Email  \
0            H.No. 782, Ratta Road, Anand-538212    hazelrattan@example.org
1              00/15, Vala Street, Amroha 300127          dkaul@example.com
2                       27, Sangha, Malda 865137     parinaaz66@example.com
3         H.No. 914, Varma Ganj, Dindigul 657634    hansyakshit@example.org
4                  279, Vyas Marg, Guntur-425689  krishnankiaan@example.org
..                                           ...                        ...
496         234, Comar Path, Tiruvottiyur 249830       ayesha76@example.net
497           297, Mann Circle, Raebareli 457987       mannat04@example.com
498      H.No. 20, Goswami Zila, Bhatpara-811792         ukohli@example.net
499              80, Sunder Chowk, Bhopal-561082          msuri@example.net
500  H.No. 557, Mallick Circle, New Delhi 257333          pmall@example.org

      Phone Number                                Job  \
0       0656786913     Armed forces technical officer
1       8803209092                     Chief of Staff
2       0098155105                       Tree surgeon
3    +915124191325                Medical illustrator
4      09159102379                    Camera operator
..             ...                                ...
496  +911277378301                Associate Professor
497  +913512303735        Scientist, research (maths)
498  +911905890219               Operations geologist
499    06923654048  Research officer, political party
500     4456675479           Surveyor, land/geomatics

                         Company
0         Dugar, Dhawan and Bera
1          Rajan, Sandal and Bal
2    Manda, Subramaniam and Dora
3                   Kurian Group
4                     Hari-Salvi
..                           ...
496                  Sathe Group
497    Dewan, Salvi and Chandran
498                   Khanna Ltd
499                 Bassi-Talwar
500          Deo, Rana and Ratti

[501 rows x 7 columns]

In [5]:
df.to_csv('Customers Details.csv', index=False)

In [15]:
from faker import Faker
import pandas as pd
import random
from datetime import datetime, timedelta

# Create Faker instance
fake = Faker()

# Generate fake sales data
Sale_data = {
    'Shipper_ID':[str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Product': [fake.random_element(elements=['Wrench','PVC pipes','Copper pipes','Galvanized steel pipes','PEX pipes','Couplings','Sinks','Toilets','Taps','Showers','Fauckets','Bathtub','Drain Cleaner', 'Drain Pipe','Water tanks','Gas Heater','Electric Heater']) for _ in range(1000)],
    'Sizes': [fake.random_element(elements=['2 inch' ,'4 inches', '6 inches','8 inches']) for _ in range(1000)],
    'Price': [round(random.uniform(10, 1000), 2) for _ in range(1000)],
    'Quantity': [random.randint(1, 100) for _ in range(1000)],
    'Date': [(datetime.now() - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d') for _ in range(1000)]
}

# Convert to DataFrame
df = pd.DataFrame(Sale_data)

# Output the DataFrame
print(df)

    Shipper_ID          Product     Sizes   Price  Quantity        Date
0          239         Fauckets    2 inch  311.42        86  2023-12-17
1          240           Wrench  6 inches  276.84        41  2023-05-17
2          876          Bathtub  8 inches  651.28        23  2024-01-16
3          062  Electric Heater  4 inches  613.50        15  2024-04-23
4          084          Toilets  6 inches  976.26        16  2023-08-13
..         ...              ...       ...     ...       ...         ...
995        372       Gas Heater    2 inch  729.23        36  2023-05-21
996        542  Electric Heater  4 inches  128.74        47  2023-07-05
997        316          Toilets    2 inch  830.57        56  2024-02-08
998        116        PVC pipes    2 inch  317.14        85  2023-07-29
999        154             Taps  6 inches  692.53        62  2024-04-12

[1000 rows x 6 columns]

In [16]:
df.to_csv(' Sale_year.csv', index=False)

In [18]:
from faker import Faker
import pandas as pd
import random
from datetime import datetime, timedelta

# Create Faker instance
fake = Faker()

# Generate fake orders data
Orders = {
    'Order ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Product ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Customer ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Shipper_ID':[str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Total_order_amount': [random.randint(1, 1000000) for _ in range(1000)],
    'Order Date': [(fake.date_between_dates('-3y','now') - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d') for _ in range(1000)],
    
}

# Convert to DataFrame
df = pd.DataFrame(Orders)

# Output the DataFrame
print(df)

    Order ID Product ID Customer ID Shipper_ID  Total_order_amount  Order Date
0        243        464         925        075              604081  2021-10-08
1        180        863         747        630              528893  2021-07-13
2        740        985         107        901              253286  2022-01-01
3        241        889         617        143              274241  2022-07-21
4        176        975         854        728              205168  2022-03-12
..       ...        ...         ...        ...                 ...         ...
995      306        166         129        041              885786  2022-05-06
996      450        748         336        253              980473  2022-06-22
997      460        274         466        029              784600  2022-08-01
998      700        662         909        256              970548  2022-08-17
999      512        277         347        912               98399  2023-07-15

[1000 rows x 6 columns]

In [19]:
df.to_csv('Orders2.csv', index=False)

In [9]:
from faker import Faker
import pandas as pd

# Create Faker instance
fake = Faker()

# Generate category data
data = {
    'Category ID': [str(fake.random_number(digits=3)).zfill(2) for _ in range(10)],
    'Category Name': [fake.random_element(elements=['Pipes','Pipe Fittings','Fixatures','Cleaning','Drainage ','Water','Tools']) for _ in range(10)]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

  Category ID  Category Name
0         778          Tools
1         140      Drainage
2         268  Pipe Fittings
3         558       Cleaning
4          11          Pipes
5         142  Pipe Fittings
6         483          Water
7         839          Tools
8         307      Drainage
9         287          Water

In [10]:
df.to_csv('Category1.csv', index=False)

In [13]:
from faker import Faker
import pandas as pd
import random

# Create Faker instance
fake = Faker()

# Generate fake Order_Details data
data = {
    'Order ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(500)],
    'Product ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(500)],
    'Quantity': [random.randint(1, 200) for _ in range(500)],
    'Unit Price': [round(random.uniform(10, 100), 2) for _ in range(500)]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

    Order ID Product ID  Quantity  Unit Price
0        891        972        65       24.42
1        541        355         9       55.81
2        396        847        65       27.95
3        177        355       104       94.54
4        027        204       163       92.29
..       ...        ...       ...         ...
495      066        462       195       16.76
496      473        819       120       86.80
497      604        665       154       12.49
498      724        236        57       41.60
499      274        882       192       39.78

[500 rows x 4 columns]

In [14]:
df.to_csv('order_details1.csv', index=False)

In [15]:
from faker import Faker
import pandas as pd
import random
from datetime import datetime, timedelta

# Create Faker instance
fake = Faker()

# Generate fake Payments data
data = {
    'Payment ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Order ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Payment Type': [fake.random_element(elements=('Credit Card', 'Debit Card', 'PayPal', 'Cash','Cheque','RTGS','Bank Transfer','PhonePe','Google Pay')) for _ in range(1000)],
    'Payment Date': [(datetime.now() - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d') for _ in range(1000)]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

    Payment ID Order ID   Payment Type Payment Date
0          948      655  Bank Transfer   2024-04-01
1          176      086        PhonePe   2024-01-26
2          670      929     Google Pay   2023-08-25
3          001      065     Debit Card   2024-04-23
4          408      445         PayPal   2023-07-15
..         ...      ...            ...          ...
995        362      865     Debit Card   2023-11-29
996        450      226         PayPal   2023-08-20
997        635      628         PayPal   2024-05-06
998        460      610  Bank Transfer   2024-01-04
999        831      736    Credit Card   2023-05-30

[1000 rows x 4 columns]

In [16]:
df.to_csv('payments1.csv', index=False)

In [2]:
from faker import Faker
import pandas as pd

# Create Faker instance
fake = Faker()

# Generate fake Suppliers data
data = {
    'Supplier ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(500)],
    'Shipper_ID':[str(fake.random_number(digits=3)).zfill(3) for _ in range(500)],
    'Supplier Name': [fake.company() for _ in range(500)],
    'Postal Code': [fake.postalcode() for _ in range(500)],
    'City': [fake.city() for _ in range(500)],
    'Country': [fake.country() for _ in range(500)],
    'State': [fake.state() for _ in range(500)],
    'Email': [fake.email() for _ in range(500)],
    'Phone': [fake.phone_number() for _ in range(500)]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

    Supplier ID Shipper_ID                Supplier Name Postal Code  \
0           903        967     Spencer, Ball and Garcia       62333
1           938        229  Carrillo, Porter and Walker       00775
2           638        377   Schmidt, Grant and Frazier       69909
3           515        742              Johnson-Johnson       90180
4           577        039        Hood, King and Murphy       39340
..          ...        ...                          ...         ...
495         886        068      Hicks, Rose and Collins       85388
496         647        983  Martinez, Murphy and Brandt       98281
497         822        674              Mathis and Sons       14001
498         392        322                    Potts PLC       65023
499         614        921                Hines-Webster       50389

                City                  Country          State  \
0            Amyport      Trinidad and Tobago  West Virginia
1         Port Danny                     Mali       Delaware
2     West Adammouth  Cocos (Keeling) Islands      Wisconsin
3    Fitzgeraldshire                Hong Kong      Louisiana
4        North David     Netherlands Antilles        Montana
..               ...                      ...            ...
495     Sampsonmouth                    Macao     California
496       Baileyfort                Mauritius       Missouri
497      Alyssashire                  Germany         Kansas
498     Maxwellburgh                Sri Lanka    Connecticut
499       Lake Doris                   Brazil         Oregon

                          Email                   Phone
0     gabriellahunt@example.net   +1-875-250-6120x37402
1            noah99@example.com        001-437-336-2911
2        vhenderson@example.com    001-286-203-8251x726
3         emcdonald@example.org            785-344-8787
4        cindyperez@example.com     +1-650-693-0547x020
..                          ...                     ...
495          sriggs@example.org              8583785083
496    timothybrown@example.org           (209)706-3161
497         scarter@example.net   +1-666-684-4759x05723
498        lauren31@example.net  001-737-220-7154x51581
499  buckleygregory@example.org       939.789.3489x9707

[500 rows x 9 columns]

In [3]:
df.to_csv('shippers2.csv', index=False)

In [12]:
import pandas as pd
from faker import Faker
import random

# Initialize Faker
fake = Faker()

# Generate fake product table
product_ids = [str(fake.random_number(digits=3)).zfill(3) for _ in range(21)]
Category_ID = [str(fake.random_number(digits=3)).zfill(2) for _ in range(21)]
products = [fake.random_element(elements=['PVC pipes', 'Copper pipes', 'Galvanized steel pipes', 'PEX pipes', 'Couplings', 'Sinks', 'Toilets', 'Taps', 'Showers', 'Fauckets', 'Bathtub', 'Drain Cleaner', 'Drain Pipe', 'Water tanks', 'Gas Heater', 'Electric Heater', 'Water meters', 'Wrench', 'Adjustable wrenches', 'Urinals']) for _ in range(21)]
categories = ['Pipes' if product in ['PVC pipes', 'Copper pipes', 'Galvanized steel pipes', 'PEX pipes'] else
                 'Fixtures' if product in ['Sinks', 'Toilets', 'Taps', 'Showers', 'Fauckets', 'Bathtub', 'Urinals'] else
                 'Heaters' if product in ['Gas Heater', 'Electric Heater', 'Water Heater'] else
                 'Pipe Fittings' if product == 'Couplings' else
                 'Drainage' if product in ['Drain Cleaner', 'Drain Pipe', 'Water tanks'] else
                 'Tools' if product in ['Wrench', 'Adjustable wrenches'] else
                 'Other' for product in products]
prices = [round(fake.random_number(digits=3), 2) for _ in range(21)]
stock_quantity = [fake.random_int(min=0, max=1000) for _ in range(21)]

# Convert to DataFrame
df = pd.DataFrame({
    'Product ID': product_ids,
    'Category ID': Category_ID,
    'Product': products,
    'Category': categories,
    'Price': prices,
    'Stock Quantity': stock_quantity
})

# Output the DataFrame
print(df)

   Product ID Category ID              Product  Category  Price  \
0         692         491  Adjustable wrenches     Tools    472
1         507         705  Adjustable wrenches     Tools    633
2         192         217              Urinals  Fixtures     45
3         398         640                Sinks  Fixtures    739
4         175         617                 Taps  Fixtures    691
5         968         740               Wrench     Tools     10
6         661         108                 Taps  Fixtures    816
7         306         105  Adjustable wrenches     Tools    691
8         207         157            PVC pipes     Pipes    453
9         764         448           Gas Heater   Heaters    587
10        452         844           Drain Pipe  Drainage    314
11        710         130                Sinks  Fixtures    735
12        360         412          Water tanks  Drainage    604
13        494         519              Urinals  Fixtures    252
14        850         600            PEX pipes     Pipes    733
15        162         664          Water tanks  Drainage     15
16        703         378         Water meters     Other    402
17        536         829            PEX pipes     Pipes    895
18        941         364                 Taps  Fixtures    979
19        208         547          Water tanks  Drainage    813
20        748         785             Fauckets  Fixtures    305

    Stock Quantity
0               47
1              662
2              892
3               61
4              425
5              728
6              953
7              302
8              897
9              665
10             976
11             259
12             473
13             660
14             446
15             822
16             782
17             364
18             437
19              57
20             332

In [14]:
df.to_csv('Products 2.csv', index=False)